/* First dropzone specific styles */
.first-dropzone {
  position: absolute;
  width: 95%;
  left: 1%;
  top: 1%;
  display: inline-flex;
  padding: 9px 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 90%;

  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border: 5px dashed #5C4EFA;
  border-radius: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .first-dropzone {
    width: calc(20% * var(--scale, 1));
  }
}

.first-dropzone:hover {
  background-color: rgba(92, 78, 250, 0.1);
  border-color: #5C4EFA;
}

.default-dropzone {
  /* Default dropzone styles */
  min-height: 50px;
  border: 2px solid #5C4EFA;
  background-color: rgba(92, 78, 250, 0.05);
  transition: all 0.3s ease;
  display: flex;
  color: #5C4EFA;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 5px 0;
}

.default-dropzone:hover {
  background-color: rgba(92, 78, 250, 0.1);
  border-color: #5C4EFA;
}

.section-dropzone {
  width: 100%;
  padding: 8px;
  border: 1px dotted #313031;
  text-align: center;
  color: #313031;
  transition: all 0.3s ease;
}

.dropzone-hover {
  background-color: rgba(92, 78, 250, 0.15) !important;
  border-color: #5C4EFA !important;
  transform: scale(1.02);
}

.dropzone-active {
  opacity: 1;
  pointer-events: auto;
}

.dropzone-text {
  font-family: Montserrat;
  font-size: 14px;
  color: #5C4EFA;
  transition: all 0.3s ease;
}

.dropzone-hover .dropzone-text {
  color: #5C4EFA;
  font-weight: 600;
}