/* Sidebar.css */

/* General styling for sidebar */
.sidebar-container {
  padding: 16px;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Button styling for view mode toggle */
.sidebar-toggle-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.sidebar-toggle-buttons button {
  flex: 1;
  padding: 8px;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-toggle-buttons button:hover {
  background-color: #d0d0d0;
}

/* Panel header styling */
.panel-header {
  font-size: 1.2em;
  margin-bottom: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

/* Draggable Element */
.draggable-element {
  padding: 8px;
  margin: 4px 0;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: grab;
  transition: background-color 0.3s, opacity 0.3s;
}

.draggable-element:hover {
  background-color: #e8e8e8;
}

.draggable-element.dragging {
  cursor: grab !important; /* Ensure grab cursor during dragging */
  opacity: 0.8;
}



/* Content section styling */
.content-section {
  margin-top: 16px;
  margin-bottom: 5vh;

}

.content-section h4 {
  margin-bottom: 8px;
}

.sidebar-toggle-buttons button.active {
  background-color: #ccc;
  /* Example active state color */
  font-weight: bold;
}

.bento-display-elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.bento-display-elements > *:nth-child(2n + 1):last-child {
  grid-column: 1 / -1;
}


.leftbar {
  height: 100vh;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Distribute the content evenly */
  align-items: center;
  background-color: lightgrey;
  border-right: 1px solid #ccc;
  padding: 10px 5px;
  /* Ensure some padding */
  box-sizing: border-box;
  z-index: 20;
}

.buttons-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
  /* Center the buttons-group */
}

.help-center {
  margin-top: auto;
  /* Pushes the help center to the bottom */
}

.help-center-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.collapsible-panel {
  margin-bottom: 16px;
}

.panel-header h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.panel-content {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
